/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'simplemde/dist/simplemde.min'; 

 html{
  overflow: auto;
}

body{
  overflow: hidden;
}

#header{
  width: 100%;
  height: 30px;
  color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  background: -webkit-linear-gradient(45deg, #fcf0d0, #fcf0d0, #008cff, #fcf0d0, #58d8ff, #fcf0d0);
}

.heading{
  width: fit-content;
  width: -moz-fit-content;
  height: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.title_logo{
  display: block;
  margin-right: 25px;
  height: 25px;
  width: 25px;
}

#heading_id a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}
