h1{
  margin-top: 50px;
  font-size: 1.7rem;
  margin: 25px;
  text-align: center;
  width: 30%;
  padding: 0.5rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: linear-gradient(to right, #209cff 0%, #71faff 100%);
}

h2{
  font-size: 1.5rem;
  margin: 20px;
}

h3{
  font-size: 1.3rem;
  margin: 15px;
}

.back{
  background-color: #fcf0d0;
}

.space{
  height: 25px;
}

.content{
  width: 90%;
  margin: 0 auto;
}

img{
  width: 300px;
}

form input,
form textarea,
form select{
  width: 80%;
  margin: 5px auto 15px;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  display: block;
}

form input[type="submit"] {
  background-color: #212121;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 300px
}

form input[type="submit"]:hover {
  background-color: #bbbbbb;
  width: 300px
}

.grid{
  margin-top: 40px;
  gap: 25px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}